#about-section {
  font-family: Arial, sans-serif;
  margin: 40px;
  background: #f9f9f9;
  color: #222;
}

.about-container {
  max-width: 700px;
  margin: auto;
  background: #fff;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 2px 8px #0001;
}

h1 {
  color: #0057b8;
}

img {
  border-radius: 50%;
  width: 120px;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

#portfolio-section {
  font-family: Arial, sans-serif;
  margin: 40px;
  background: #f9f9f9;
}

#portfolio-container {
  max-width: 700px;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 8px #ccc;
}

.portfolio-section {
  font-family: Arial, sans-serif;
  margin: 40px;
  background: #f9f9f9;
}

h1 {
  color: #2c3e50;
}

ul {
  margin-top: 0;
}

/* -------------------------------------- */

/*
Source - https://stackoverflow.com/a/46260247
Posted by Andy Hoffman, modified by community. See post 'Timeline' for change history
Retrieved 2026-03-18, License - CC BY-SA 4.0
*/

.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

div > div {
  padding: 5px;
  border-radius: 5px;
  background-color: #f6f3f3;
}

.image-container {
  width: 200px;
  height: 150px;
  border: 1px solid #d8d5d5;
  border-radius: 8px;
  margin-bottom: 5px;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------------------------------------- */

.card-title {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

.card-description {
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.home-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px #ccc;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  text-decoration: none;
  color: black;
}
